GuessTheWord/.gradle/
GuessTheWord/.idea/
GuessTheWord/app/app.iml

TrackMySleepQuality/.gradle
TrackMySleepQuality/.idea
TrackMySleepQuality/*.iml
TrackMySleepQuality/.gradle
TrackMySleepQuality/local.properties
TrackMySleepQuality/.idea/caches
TrackMySleepQuality/.idea/libraries
TrackMySleepQuality/.idea/modules.xml
TrackMySleepQuality/.idea/workspace.xml
TrackMySleepQuality/.idea/navEditor.xml
TrackMySleepQuality/.idea/assetWizardSettings.xml
TrackMySleepQuality/.DS_Store
TrackMySleepQuality/build
TrackMySleepQuality/captures
TrackMySleepQuality/.externalNativeBuild
TrackMySleepQuality/.cxx
TrackMySleepQuality/app/app.iml
TrackMySleepQuality/local.properties
TrackMySleepQuality/TrackMySleepQuality.iml

MarsRealEstate/.gradle
MarsRealEstate/.idea
MarsRealEstate/*.iml
MarsRealEstate/.gradle
MarsRealEstate/local.properties
MarsRealEstate/.idea/caches
MarsRealEstate/.idea/libraries
MarsRealEstate/.idea/modules.xml
MarsRealEstate/.idea/workspace.xml
MarsRealEstate/.idea/navEditor.xml
MarsRealEstate/.idea/assetWizardSettings.xml
MarsRealEstate/.DS_Store
MarsRealEstate/build
MarsRealEstate/captures
MarsRealEstate/.externalNativeBuild
MarsRealEstate/.cxx
MarsRealEstate/app/app.iml
MarsRealEstate/local.properties
MarsRealEstate/MarsRealEstate.iml

DevBytes/.gradle
DevBytes/.idea
DevBytes/*.iml
DevBytes/.gradle
DevBytes/local.properties
DevBytes/.idea/caches
DevBytes/.idea/libraries
DevBytes/.idea/modules.xml
DevBytes/.idea/workspace.xml
DevBytes/.idea/navEditor.xml
DevBytes/.idea/assetWizardSettings.xml
DevBytes/.DS_Store
DevBytes/build
DevBytes/captures
DevBytes/.externalNativeBuild
DevBytes/.cxx
DevBytes/app/app.iml
DevBytes/local.properties
DevBytes/DevBytes-starter.iml
